{% if page.categories is not null %}
	{% for category in page.categories %}
		{% if category.destinationListPage is not null %}
		<a href="{{ url('DestinationBundle_page_normal', { 'alias': category.destinationListPage.alias }) }}" title="{{ category.destinationListPage.title }}">
			{% if category.destinationListPage.destinationIcon.id is defined %}
				{% media category.destinationListPage.destinationIcon.id, 'small' with {'alt': category.destinationListPage.title, 'title': ''} %}
			{% else %}
				<img src="/images/site_assets/defaultDestinationCatIcon.jpg" alt="{{ category.destinationListPage.title }}" />
			{% endif %}
			<small>{{ category.destinationListPage.title }}</small>
		</a>
		{% else %}
		<small>{{ category.title }}</small>
		{% endif %}
	{% endfor %}
{% endif %}