<div class="large-3 small-12 columns">
	{% if page.mapLongitude is not empty and page.mapLatitude is not empty %}
		<h5>Map</h5>
		<a href="#" data-reveal-id="mapModal" title="Show Map">Show map modal</a>
	{% else %}
		<h5>Online Magazine</h5>
		<a href="{{ url('PageBundle_page', { 'alias': 'online-magazine' }) }}" title="Online Magazine">Online Magazine</a>
	{% endif %}
</div>
<div class="large-3 small-12 columns">
	<h5>Share</h5>
	<ul>
        <li>
            <a target="_blank" title="Share This on Facebook" href="http://www.facebook.com/sharer.php?u={{ url('DestinationBundle_page_normal', { 'alias': page.alias })|url_encode }}&amp;t={{ page.pagetitle|url_encode }}" class="smoIcon fbIcon">
			Share This on Facebook
			</a>
        </li>
        <li>
            <a target="_blank" title="Tweet This" href="http://twitter.com/share?text={{ page.pagetitle|url_encode }}&amp;url={{ url('DestinationBundle_page_normal', { 'alias': page.alias })|url_encode }}" class="smoIcon tweetIcon">
			Tweet This
			</a>
        </li>
        <li>
            <a target="_blank" title="Mail This" href="mailto:?Subject={{ page.pagetitle|url_encode }}&amp;Body=Check%20out%20this%20surf%20spot%20at%20{{ url('DestinationBundle_page_normal', { 'alias': page.alias })|url_encode }}" class="smoIcon mailIcon">
			Mail This
			</a>
        </li>
    </ul>
</div>
<div class="large-3 small-12 columns">
	<h5>Instagram Gallery</h5>
	<a href="http://instagram.com/thegreekspots" title="Instagram Gallery" target="_blank">Instagram Gallery</a>	
</div>
<div class="large-3 small-12 columns">
	<h5>Add a spot</h5>
	<a href="{{ url('PageBundle_page', { 'alias': 'add-spot' }) }}" title="Add a spot">Add a spot</a>
</div>