<div class="columns large-2 medium-3 small-6 {{ pageItem.pageType }}Item {% if pageItem.introclass is not null %}{{ pageItem.introclass }}{% endif %} ">
	{# note: is not used in the new layout, keep in case we want to revert
	<h3>
		<a href="{{ url('DestinationBundle_page_normal', { 'alias': pageItem.alias }) }}" title="{{ pageItem.title }}">
			{{ pageItem.title }}
		</a>
	</h3>
	
    <a class="readMoreImage" href="{{ url('DestinationBundle_page_normal', { 'alias': pageItem.alias }) }}" title="{{ pageItem.title }}">
        {% if pageItem.introImage.id is defined %}
		{% media pageItem.introImage.id, 'medium' with {'alt': pageItem.title, 'title': ''} %}
        {% else %}
        <img src="/images/site_assets/defaultDestinationThumb.jpg" alt="{{ pageItem.title }}" />
        {% endif %}
    </a>
	#}
    <a class="isRound" href="{{ url('DestinationBundle_page_normal', { 'alias': pageItem.alias }) }}" title="{{ pageItem.title }}">
		<span class="roundTitle">
			<span class="verticalCenterer">
				<span>{{ pageItem.title }}</span>
			</span>
		</span>
    </a>
</div>