{% if relateddestinations %}
<div class="twelve columns relatedDestinationList">
    <div class="column twelve">
        <h3>More destinations to whet your appetite</h3>
    </div>
    {% for relateddestination in relateddestinations if relateddestination.destinationimage.id is defined %}
    <div class="column relatedDestinationItem destination_articleItem three mobile-four">
        <a href="{{ url('DestinationBundle_page_normal', { 'alias': relateddestination.alias }) }}" title="{{ relateddestination.title }}">
            {% if relateddestination.destinationimage.id is defined %}
            {% media relateddestination.destinationimage.id, 'small' with {'alt': relateddestination.title, 'title': ''} %}
            {% else %}
            <img src="/images/site_assets/defaultDestinationThumb.jpg" alt="{{ relateddestination.title }}" />
            {% endif %}
            <div class="relatedItemText {{ relateddestination.spots.pageclass }}">
                <h5 class="title"><span>{{ relateddestination.title }}</span></h5>
                <span class="itemIcon preperation">{{ relateddestination.preperation }}</span>
                <span class="itemIcon cooking">{{ relateddestination.cooking }}</span>
                <span class="itemIcon servings">{{ relateddestination.servings }}</span>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endif %} 