<div class="twelve column smoIcons mobile-nine">
    <ul>
        <li>
            <a class="smoIcon fbIcon" href="http://www.facebook.com/sharer.php?u={{ app.request.uri|url_encode() }}&amp;t={{ page.title|url_encode() }}%20%26%20Tate%20by%20Lyle" title="Share This on Facebook" target="_blank"></a>
        </li>
        <li>
            <a class="smoIcon tweetIcon" href="http://twitter.com/share?text={{ page.title|url_encode() }}%20by%20Tate%20%26%20Lyle&amp;url={{ app.request.uri|url_encode() }}" title="Tweet This" target="_blank"></a>
        </li>
        <li>
            <a class="smoIcon mailIcon" href="mailto:?Subject={{ page.title|url_encode(true) }}%20by%20Tate%20%26%20Lyle&amp;Body=Check%20out%20this%20destination%20for%20{{ page.title|url_encode(true) }}%20by%20Tate%20%26%20Lyle%20at%20{{ app.request.uri|url_encode() }}" title="Mail This" target="_blank"></a>
        </li>
    </ul>
    <span class="iconTitle">Share</span>
    <a class="smoIcon printIcon" href="#" title="Print {{ page.title }}"></a><span class="iconTitle">Print</span>
</div>