  						{% form_theme filterForm 'SpotBundle:Form:fields.html.twig' %}	
							
                        <form name="spotfiltersform" id="filterResultsForm" action="{{ url('SpotBundle_filtered') }}" method="post" {{ form_enctype(filterForm) }} class="filterForm">
								
                            <div class="columns large-12 small-12">
								<div class="row collapse">
								{{ form_row(filterForm.sport, { 'attr': {'class': 'customCheckBox mainFilters'} }) }}
								</div>
                            </div>
                              
                            <div class="columns large-12 small-12">  
								<div class="row collapse">
                                {{ form_row(filterForm.destinations, { 'attr': {'class': 'customCheckBox mainFilters'} }) }}
								</div>
                            </div>
                              
                            <div class="columns large-12 small-12">  
								<div class="row collapse">
                                {{ form_row(filterForm.season, { 'attr': {'class': 'customCheckBox mainFilters blueFilters'} }) }}
								</div>
                            </div>
							
							<div class="columns large-12 small-12 advancedFiltersContainer">
								<dl class="accordion" data-accordion>
									<dd>
										<a class="advancedFiltersTitle displayActiveStatus" href="#advancedFilters">See More Filters</a>	
										<div id="advancedFilters" class="row collapse content">
											<div class="columns large-12 small-12">  
												<div class="row collapse">
												{{ form_row(filterForm.experience, { 'attr': {'class': 'customCheckBox'} }) }}
												</div>
											</div>

											<div class="columns large-12 small-12"> 
												<div class="row collapse"> 
												{{ form_row(filterForm.style, { 'attr': {'class': 'customCheckBox'} }) }}
												</div>
											</div>

											<div class="columns large-12 small-12">  
												<div class="row collapse">
												{{ form_row(filterForm.sea_state, { 'attr': {'class': 'customCheckBox'} }) }}
												</div>
											</div>

											<div class="columns large-12 small-12"> 
												<div class="row collapse"> 
												{{ form_row(filterForm.wind_force, { 'attr': {'class': 'customCheckBox'} }) }}
												</div>
											</div>

											<div class="columns large-12 small-12"> 
												<div class="row collapse"> 
												{{ form_row(filterForm.swell_length, { 'attr': {'class': 'customCheckBox'} }) }}
												</div>
											</div>

											<div class="columns large-12 small-12">  
												<div class="row collapse">
												{{ form_row(filterForm.amenities, { 'attr': {'class': 'customCheckBox'} }) }}
												</div>
											</div>

											<div class="columns large-12 small-12"> 
												<div class="row collapse"> 
												{{ form_row(filterForm.lifestyle, { 'attr': {'class': 'customCheckBox'} }) }}
												</div>
											</div>

											<div class="columns large-12 small-12">  
												<div class="row collapse">
												{{ form_row(filterForm.budget, { 'attr': {'class': 'customCheckBox'} }) }}
												</div>
											</div>
										</div>
									</dd>
								</dl>
							</div>
									
                            <div class="columns large-12 small-12">  
								<div class="row collapse">
                                {{ form_rest(filterForm) }}
                                {{ form_errors(filterForm) }}
								</div>
                            </div>
                              
                            <div class="formBtns columns large-12 small-12">
								<div class="row collapse">
									<div class="columns large-6 small-6 customCheckBox resetFiltersBox">
										<input class="resetFiltersBtn" type="checkbox" id="resetFilters" name="resetFilters" value="1" />
										<label for="resetFilters">Reset Filters</label>
									</div>
									<div class="columns large-6 small-6 applyFiltersHolder">
										<label>
											<span class="hasArrow">All Checked? Hit </span>
											<input class="isCyrcle" type="submit" id="filterResultsBtn" value="GO" />
										</label>
									</div>
								</div>
                            </div>
                        </form>
