{% if relatedSpots is defined and relatedSpots is not null and relatedSpots is not empty %}
<div class="row relatedSpots">
	<div class="large-12 small-12 columns">
		<h3>Nearby Spots</h3>
	</div>
{% for spots in relatedSpots %}
	<div class="relatedSpot {% if spots.pageclass is not null %}{{ spots.pageclass }}{% endif %} large-2 small-3 columns">
		<a href="{{ url('SpotBundle_page_normal', { 'alias': spots.alias }) }}" title="{{ spots.title }}">
			{% if spots.introimage.id is defined %}
				{% media spots.introimage.id, 'xsmall' with {'alt': spots.title, 'title': ''} %}
			{% else %}
				<img src="/images/site_assets/defaultSpotListThumb.jpg" alt="{{ spots.title }}" />
			{% endif %}
			<span class="relatedSpotTitle">{{ spots.title }}</span>
		</a>
    </div>
{% endfor %}
</div>
{% endif %}