{% if weatherData is defined %}
		<dl class="tabs" data-tab>
			<dd class="active">
				<a href="#dailyWeatherTab" title="Daily Weather"><h3>Daily Weather</h3></a>
			</dd>
			<dd>
				<a href="#weeklyWeatherTab" title="Weekly Weather"><h3>Weekly Weather</h3></a>
			</dd>
		</dl>
		<div class="tabs-content">
			<div id="dailyWeatherTab" class="row collapse content spotWeatherRow active" data-equalheights='{"el":".hourlyPrediction","minwidth":"580"}'>
				{% for hourlyWeatherData in weatherData[0]['hourly'] %}
					{% if (loop.index0 == (("now"|date("H", "Europe/Athens")) / 3)|round) or (loop.index0 == 0 and (("now"|date("H", "Europe/Athens")) / 3)|round == 8) %}
					<div class="columns large-4 small-12 hourlyPrediction">
						<p class="date large-12 small-12">
							<span class="left">{{ "now"|date("l") }}</span> <span class="right">{{ "now"|date("F d") }}</span>
						</p>					
						<p class="spotName large-7 small-7">
							{{ page.title }}<br>
							<span class="weatherIcon">{{ hourlyWeatherData.weatherIconUrl|weatherIconToChar }}</span>
						</p>
						<div class="conversionSwitches large-5 small-5">
							<div class="switch large round">
								<input id="windSpeed" name="switch-windSpeed" type="radio" checked onclick="CMS.tgsUI.unitConvertDisplay('knots');">
								<label for="windSpeed" onclick="CMS.tgsUI.unitConvertDisplay('knots');">KNOTS</label>
								<input id="windSpeed-bf" name="switch-windSpeed" type="radio" onclick="CMS.tgsUI.unitConvertDisplay('bf');">
								<label for="windSpeed-bf" onclick="CMS.tgsUI.unitConvertDisplay('bf');">BF</label>
								<span></span>
							</div>
							<div class="switch large round">
								<input id="height-ft" name="switch-height" type="radio" checked onclick="CMS.tgsUI.unitConvertDisplay('ft');">
								<label for="height-ft" onclick="CMS.tgsUI.unitConvertDisplay('ft');">FT</label>
								<input id="height" name="switch-height" type="radio" onclick="CMS.tgsUI.unitConvertDisplay('meters');">
								<label for="height" onclick="CMS.tgsUI.unitConvertDisplay('meters');">M</label>
								<span></span>
							</div>
						</div>
						<p class="large-3 small-3 clearBoth horizontallySpaced">
							<span class="spotFeaturedAttributeIcon"></span>
						</p>
						<p class="large-3 small-3 horizontallySpaced">							
							<span class="windDirection windDirection{{ hourlyWeatherData.winddir16Point }}"><span class="ieOnly">{{ hourlyWeatherData.winddir16Point }}</span></span>
						</p>
						<p class="large-3 small-3 mainStats horizontallySpaced">
							<span class="notSurfSpotOnly">
								Speed<br>
								<span class="largeNumber is-Knots">{{ '%.1f'|format(hourlyWeatherData.windspeedKmph / 1.85325) }}</span>
								<span class="largeNumber is-Bf">{{ '%.1f'|format(((hourlyWeatherData.windspeedKmph / 3.01) ** 0.6666) + 0.5) }}</span>	
							</span>
							<span class="surfSpotOnly">
								Height<br>
								<span class="largeNumber is-Ft">{{ hourlyWeatherData.swellHeight_ft }}</span>
								<span class="largeNumber is-Meters">{{ hourlyWeatherData.swellHeight_m }}</span>
							</span>
						</p>
						<p class="large-3 small-3 mainStats horizontallySpaced">
							<span class="notSurfSpotOnly">
								Gust<br>
								<span class="largeNumber is-Knots">{{ '%.1f'|format(hourlyWeatherData.WindGustKmph / 1.85325) }}</span>
								<span class="largeNumber is-Bf">{{ '%.1f'|format(((hourlyWeatherData.WindGustKmph / 3.01) ** 0.6666) + 0.5) }}</span>
							</span>
							<span class="surfSpotOnly">
								Period<br>
								<span class="largeNumber">{{ hourlyWeatherData.swellPeriod_secs }}</span>
							</span>
						</p>						
						<p class="noVerticalPadding clearBoth large-6 small-6">
							<span class="predictionTitle">Temperature: </span><span class="largeNumber">{{ hourlyWeatherData.tempC }}&deg;</span>
						</p>
						<p class="noVerticalPadding large-6 small-6">
							<span class="predictionTitle">Humidity: </span><span class="largeNumber">{{ hourlyWeatherData.humidity }}%</span>
						</p>							
						<p class="noVerticalPadding clearBoth large-6 small-6">
							<span class="predictionTitle">Sea Temperature: </span><span class="largeNumber">{{ hourlyWeatherData.waterTemp_C }}&deg;</span>
						</p>	
						<p class="noVerticalPadding large-6 small-6">
							<span class="predictionTitle">Visibility: </span><span class="largeNumber">{{ hourlyWeatherData.visibility }}%</span>
						</p>				
						<p class="noVerticalPadding clearBoth large-6 small-6">
							<span class="predictionTitle">Rating: </span>
							<span class="largeNumber">
								<span class="ratingIndicator {% if (((hourlyWeatherData.windspeedKmph / 3.01) ** 0.6666) + 0.5) < 3 %}
									ratingIndicator1
								{% elseif ((((hourlyWeatherData.windspeedKmph / 3.01) ** 0.6666) + 0.5) >= 3) and ((((hourlyWeatherData.windspeedKmph / 3.01) ** 0.6666) + 0.5) < 5) %}
									ratingIndicator2
								{% elseif 5 <= (((hourlyWeatherData.windspeedKmph / 3.01) ** 0.6666) + 0.5) %}
									ratingIndicator3
								{% endif %}"></span>
							</span>
						</p>																
						<p class="noVerticalPadding large-6 small-6"><span class="predictionTitle">Cloudcover: </span><span class="largeNumber">{{ hourlyWeatherData.cloudcover }}%</span></p>
					</div>
					{% endif %}					
				{% endfor %}
				{% for hourlyWeatherData in weatherData[0]['hourly'] %}
				{% if loop.index0 < 8 %}
					<div class="columns large-1 small-12 hourlyPrediction" data-equalheights>	
						<p class="date large-12 small-12 text-center">
							{{ (loop.index0 * 3)|number_format(2, '.', ',') }}
						</p>
						<p class="large-12 small-6 text-center noBottomPadding">
							<span class="spotFeaturedAttributeIcon spotFeaturedAttributeIconSmall windIcon"></span>
						</p>	
						<p class="large-12 small-6 text-center noVerticalPadding">
							<span class="windDirection windDirectionSmall windDirection{{ hourlyWeatherData.winddir16Point }}"><span class="ieOnly">{{ hourlyWeatherData.winddir16Point }}</span></span>
						</p>	
						<p class="large-12 small-6 text-center fullWidth noVerticalPadding">
							Speed: <span class="largeNumber is-Knots">{{ '%.0f'|format(hourlyWeatherData.windspeedKmph / 1.85325) }}</span><span class="largeNumber is-Bf">{{ '%.0f'|format(((hourlyWeatherData.windspeedKmph / 3.01) ** 0.6666) + 0.5) }}</span>
						</p>	
						<p class="large-12 small-6 text-center fullWidth noVerticalPadding">
							Gust: <span class="largeNumber is-Knots">{{ '%.0f'|format(hourlyWeatherData.WindGustKmph / 1.85325) }}</span><span class="largeNumber is-Bf">{{ '%.0f'|format(((hourlyWeatherData.WindGustKmph / 3.01) ** 0.6666) + 0.5) }}</span>
						</p>
						<p class="large-12 small-12 text-center noVerticalPadding">						
							<span class="spotFeaturedAttributeIcon spotFeaturedAttributeIconSmall wavesIcon"></span>
						</p>	
						<p class="large-12 small-6 text-center fullWidth noVerticalPadding">
							Height: <span class="largeNumber is-Ft">{{ hourlyWeatherData.swellHeight_ft }}</span><span class="largeNumber is-Meters">{{ hourlyWeatherData.swellHeight_m }}</span>
						</p>
						<p class="large-12 small-6 text-center fullWidth noVerticalPadding">
							Period: <span class="largeNumber">{{ hourlyWeatherData.swellPeriod_secs }}</span>
						</p>
						<p class="large-12 small-12 text-center noVerticalPadding">
							<span class="weatherIcon weatherIconSmall">{{ hourlyWeatherData.weatherIconUrl|weatherIconToChar }}</span>
						</p>												
						<p class="large-12 small-6 text-center fullWidth noVerticalPadding">
							Temp: <span class="largeNumber">{{ hourlyWeatherData.tempC }}&deg;</span>
						</p>														
						<p class="large-12 small-6 text-center fullWidth noVerticalPadding">
							Cloud: <span class="largeNumber">{{ hourlyWeatherData.cloudcover }}%</span>
						</p>		
						<p class="large-12 small-12 text-center fullWidth noVerticalPadding">
							Rating 
							<span class="breakLine largeNumber text-center">
								<span class="ratingIndicator {% if (((hourlyWeatherData.windspeedKmph / 3.01) ** 0.6666) + 0.5) < 3 %}
									ratingIndicator1
								{% elseif ((((hourlyWeatherData.windspeedKmph / 3.01) ** 0.6666) + 0.5) >= 3) and ((((hourlyWeatherData.windspeedKmph / 3.01) ** 0.6666) + 0.5) < 5) %}
									ratingIndicator2
								{% elseif 5 <= (((hourlyWeatherData.windspeedKmph / 3.01) ** 0.6666) + 0.5) %}
									ratingIndicator3
								{% endif %}"></span>
							</span>
						</p>
					</div>
					{% endif %}
				{% endfor %}	
			</div>
			<div id="weeklyWeatherTab" class="row collapse content spotWeatherRow">
				{% for weeklyWeatherData in weatherData %}
				{% if loop.index0 > 0 %}
					<div class="columns large-2 small-12" data-equalheights='{"el":".weeklyWeatherDay","minwidth":"580"}'>
						<div class="weeklyWeatherDay">
							<p class="date large-12 small-12 text-center">{{ ('+'~loop.index0~' day')|date("D F d") }}</p>
							{% for dailyWeatherData in weeklyWeatherData['hourly'] %}
							{% if loop.index == 5 %}						
							<p><span class="weatherIcon">{{ dailyWeatherData.weatherIconUrl|weatherIconToChar }}</span></p>							
							<p>winddir 16Point {{ dailyWeatherData.winddir16Point }}</p>						
							<p>WindGust Knots {{ '%.1f'|format(dailyWeatherData.WindGustKmph / 1.85325) }}</p>		
							<p>WindGust Beaufort {{ '%.1f'|format(((dailyWeatherData.WindGustKmph / 3.01) ** 0.6666) + 0.5) }}</p>
							<p>windspeed Knots {{ '%.1f'|format(dailyWeatherData.windspeedKmph / 1.85325) }}</p>						
							<p>windspeed Beaufort {{ '%.1f'|format(((dailyWeatherData.windspeedKmph / 3.01) ** 0.6666) + 0.5) }}</p>						
							<p>tempC {{ dailyWeatherData.tempC }}</p>						
							<p>water Temp_C {{ dailyWeatherData.waterTemp_C }}</p>						
							<p>humidity {{ dailyWeatherData.humidity }}</p>						
							<p>visibility {{ dailyWeatherData.visibility }}</p>						
							<p>cloudcover {{ dailyWeatherData.cloudcover }}</p>		
							<p>swell Height_m {{ dailyWeatherData.swellHeight_m }}</p>	
							<p>swell Height_ft {{ dailyWeatherData.swellHeight_ft }}</p>			
							<p>swell Period_secs {{ dailyWeatherData.swellPeriod_secs }}</p>
							<p>rating 
								{% if (((dailyWeatherData.windspeedKmph / 3.01) ** 0.6666) + 0.5) < 3 %}
									1
								{% elseif ((((dailyWeatherData.windspeedKmph / 3.01) ** 0.6666) + 0.5) >= 3) and ((((dailyWeatherData.windspeedKmph / 3.01) ** 0.6666) + 0.5) < 5) %}
									2
								{% elseif 5 <= (((dailyWeatherData.windspeedKmph / 3.01) ** 0.6666) + 0.5) %}
									3
								{% endif %}	
							</p>
						</div>
					{% endif %}
					{% endfor %}
					</div>
				{% endif %}						
				{% endfor %}
			</div>
		</div>

{% endif %}