{% extends '::base.html.twig' %}

{% block title %}{{ page.pagetitle }}{% endblock %}
{% block metaDescription %}{{ page.description }}{% endblock %}
{% block metaKeywords %}{{ page.keywords }}{% endblock %}
{% block metaAuthor %}{{ page.metaAuthor }}{% endblock %}

{% block OgTitle %}{{ page.pagetitle }}{% endblock %}
{% block OgSiteName %}{{ page.pagetitle }}{% endblock %}
{% block metaOgDescription %}{{ page.description }}{% endblock %}

{% block siteLogoTitle %}{{ page.pagetitle }}{% endblock %}
{% block siteLogoKeywords %}{{ page.keywords }}{% endblock %}
{% block siteLogoDescription %}{{ page.title }} {{ page.description }}{% endblock %}

{% block content %}

{% if page.bannercontentblocks is not empty  %}
<div class="row topBanner">
	<div class="columns large-12 small-12 ">
		{% include 'SpotBundle:Contents:bannercontentblocks.html.twig' %}				
	</div>
</div>
{% endif %}

<div class="large-12 small-12 columns spotsPage {% if page.pageclass is not null %}{{ page.pageclass }}{% endif %}">
    {% if page.pagetype == 'spot_article' %}    
        <div class="row spotsContent contentRow">
            <div class="large-12 small-12 columns">
                <h2>{{ page.title }} {% include 'SpotBundle:Contents:related-destinations.html.twig' %}</h2>
            </div>
            <div class="large-12 small-12 columns spotsTopText">
                {% if page.introtext is not null %}
					<h3>{{ page.introtext|striptags }}</h3>
                {% endif %}
                {% if page.summary is not null %}
					{{ page.summary|raw }}
                {% endif %}
            </div>
			{% if page.maincontentblocks is not empty %}
			<div class="large-12 small-12 columns">
				{% include 'SpotBundle:Contents:maincontentblocks.html.twig' %}
			</div>
			{% endif %}
            <div class="large-12 small-12 columns spotAttributes">
				<h3>Spot information</h3>
                {% include 'SpotBundle:Contents:spot-attributes.html.twig' %}
            </div>
            <div class="large-12 small-12 columns">
                {% include 'SpotBundle:Contents:spot-weather.html.twig' %}
            </div>
			<div class="large-12 small-12 columns">
				{% include 'SpotBundle:Contents:secondarycontentblocks.html.twig' %}
			</div>
			<div class="large-12 small-12 columns">
				{% include 'SpotBundle:Contents:nearby-spots.html.twig' %}
			</div>
        </div>
    {% elseif page.pagetype == 'spot_home' %} 
        <div class="row spotsListTop">
            <div class="columns large-12 small-12">  
                <h2>{{ page.title }}</h2>
                {% if page.summary is not empty %} 
					<div class="summary">
						{{ page.summary|raw }}
					</div>
                {% endif %}  
            </div>
        </div>
        <div class="row {{ page.pagetype }}List spotsList">
            <div class="columns large-12 small-12"> 
                {% include 'SpotBundle:Contents:filterResultsFormHolder.html.twig' %}
            </div>
            {% if page.maincontentblocks is not empty %}
            <div class="columns large-12 small-12 pageText">
                {% include 'SpotBundle:Contents:maincontentblocks.html.twig' %}
            </div>
            {% endif %}
            {% if pages %}
			<div class="large-12 small-12 columns categoryListing">
				<div class="row">
                    {% for pageItem in pages %}
                        <div class="large-6 small-12 columns categoryListingItem">
                            {% include 'SpotBundle:Contents:page-list-item.html.twig' %}
                        </div>
                    {% endfor %}
				</div>
            </div>
            {% endif %}
        </div>
        {% include 'SpotBundle:Contents:home_pagination.html.twig' %}
    {% endif %}
</div>
<div class="row contentFooter">
	{% include 'SpotBundle:Contents:spot-footer.html.twig' %}
</div>
{% endblock %}

{% block gAnalytics %}{% include 'PageBundle:Contents:ga.html.twig' %}{% endblock %}

{% block modal %}
    {% include 'SpotBundle:Contents:modalcontentblocks.html.twig' %}
{% endblock %}