{% extends '::base.html.twig' %}

{% block title %}{{ page.pagetitle }}{% endblock %}
{% block metaDescription %}{{ page.description }}{% endblock %}
{% block metaKeywords %}{{ page.keywords }}{% endblock %}
{% block metaAuthor %}{{ page.metaAuthor }}{% endblock %}

{% block OgTitle %}{{ page.pagetitle }}{% endblock %}
{% block OgSiteName %}{{ page.pagetitle }}{% endblock %}
{% block metaOgDescription %}{{ page.description }}{% endblock %}

{% block siteLogoTitle %}{{ page.pagetitle }}{% endblock %}
{% block siteLogoKeywords %}{{ page.keywords }}{% endblock %}
{% block siteLogoDescription %}{{ page.title }} {{ page.description }}{% endblock %}

{% block body_start %}
	{% if page.bannercontentblocks is not empty %}
    <div class="pageTopBanner">		
		{% include 'SpotBundle:Contents:bannercontentblocks.html.twig' %}
    </div>
	{% endif %}
{% endblock %}

{% block content %}
<div class="large-12 small-12 columns spotsPage {% if page.pageType == 'spot_article' %}spotArticlePage {% endif %}{% if page.pageclass is not null %}{{ page.pageclass }}{% endif %}">
    {% if page.pagetype == 'spot_article' %}    
        <div class="row spotsContent contentRow">
            <div class="large-12 small-12 columns">
                <h2 class="leftAlign">
					{{ page.title }}
				</h2>
				<h5>{% include 'SpotBundle:Contents:related-destinations.html.twig' %}</h5>
            </div>
			{% if page.summary is not null %}
            <div class="large-12 small-12 columns spotsTopText pageDescription">
				<div class="row collapse">
					<div class="small-12 large-12 columns">
						{% if page.introtext is not null %}
						<h3>{{ page.introtext|striptags }}</h3>
						{% endif %}
						{{ page.summary|raw }}
					</div>
				</div>
            </div>
			{% endif %}
			{% if page.maincontentblocks is not empty %}
			<div class="large-12 small-12 columns">
				{% include 'SpotBundle:Contents:maincontentblocks.html.twig' %}
			</div>
			{% endif %}
            <div class="large-12 small-12 columns spotAttributes">
				<h3>Spot information</h3>
                {% include 'SpotBundle:Contents:spot-attributes.html.twig' %}
            </div>
            <div class="large-12 small-12 columns spotWeather">
                {% include 'SpotBundle:Contents:spot-weather.html.twig' %}
            </div>
			{% if page.secondarycontentblocks is not empty %}
			<div class="large-12 small-12 columns">
				{% include 'SpotBundle:Contents:secondarycontentblocks.html.twig' %}
			</div>
            {% endif %}
			<div class="large-12 small-12 columns">
				{% include 'SpotBundle:Contents:nearby-spots.html.twig' %}
			</div>
        </div>
    {% elseif page.pagetype == 'spot_home' %} 
        <div class="row spotContent contentRow">
            <div class="large-12 small-12 columns">
                <h2>{{ page.title }}</h2>
            </div>
			{% if page.summary is not null %}
            <div class="large-12 small-12 columns spotTopText pageDescription">
				<div class="row collapse">
					<div class="small-12 large-12 columns">
						{% if page.introtext is not null %}
						<h3>{{ page.introtext|striptags }}</h3>
						{% endif %}
						{{ page.summary|raw }}
					</div>
				</div>
            </div>
			{% endif %}			
            {% if page.maincontentblocks is not empty %}
            <div class="columns large-12 small-12">
                {% include 'SpotBundle:Contents:maincontentblocks.html.twig' %}
            </div>
            {% endif %}
        </div>
		<div id="filterResultsFormHolder" class="row {{ page.pagetype }}Filters spotFilters">
			{% include 'SpotBundle:Contents:filterResultsFormHolder.html.twig' %}
        </div>
        <div class="row {{ page.pagetype }}List spotsList">
            {% if pages %}
                {% for pageItem in pages %}
                {% include 'SpotBundle:Contents:page-list-item.html.twig' %}
				{% endfor %}
			{% else %}
				<div class="columns large-12 small-12">
					<h3>No spots have been found with the requested criteria. Please try again with less filters.</h3>
				</div>
            {% endif %}            
        </div>
        {% include 'SpotBundle:Contents:home_pagination.html.twig' %}
		{% if page.secondarycontentblocks is not empty %}
		<div class="row {{ page.pageType }}Below spotListBelow">
			<div class="large-12 small-12 columns pageDescription">
				{% include 'SpotBundle:Contents:secondarycontentblocks.html.twig' %}
			</div>
        </div>
		{% endif %}
    {% endif %}
	<div class="row contentFooter">
		{% include 'SpotBundle:Contents:spot-footer.html.twig' %}
	</div>
</div>
{% endblock %}

{% block gAnalytics %}{% include 'PageBundle:Contents:ga.html.twig' %}{% endblock %}

{% block modal %}
    {% include 'SpotBundle:Contents:modalcontentblocks.html.twig' %}
{% endblock %}