<div class="twelve column">
    <h4>Buy online from our selected retailers</h4>
</div>
{% if page.packageSize1 %}
    <div class="column productPackage four mobile-four">
        <a class="productBuyLink" href="http://tateandlyle.where-to-buy.co/Widgets/CrossDevicePartial/{{ page.manufacturersPartNo1 }}" title="Buy Now">
            <span class="sizeText">{{ page.packageSize1 }}</span><span>Buy Now</span>
        </a>
    </div>
{% endif %}
{% if page.packageSize2 %}
    <div class="column productPackage four mobile-four">
        <a class="productBuyLink" href="http://tateandlyle.where-to-buy.co/Widgets/CrossDevicePartial/{{ page.manufacturersPartNo2 }}" title="Buy Now">
            <span class="sizeText">{{ page.packageSize2 }}</span><span>Buy Now</span>
        </a>
    </div>
{% endif %}
{% if page.packageSize3 %}
    <div class="column productPackage four mobile-four">
        <a class="productBuyLink" href="http://tateandlyle.where-to-buy.co/Widgets/CrossDevicePartial/{{ page.manufacturersPartNo3 }}" title="Buy Now">
            <span class="sizeText">{{ page.packageSize3 }}</span><span>Buy Now</span>
        </a>
    </div>
{% else %}
   <span class="packagesListCopy"><span class="packagesListCopy1">Start <br /></span><span class="packagesListCopy2">cooking</span></span>
{% endif %}
<div class="twelve column mobile-nine ">
    <p>Tate &amp; Lyle Sugars cannot guarantee stock availability</p>
</div>