{% if relatedrecipes %}
<div class="twelve columns relatedRecipeList">
    <div class="column twelve mobile-nine">
        <h3>Delicious in these recipes</h3>
    </div>
    <div class="column twelve mobile-nine relatedRecipeItems">
    {% for relatedrecipe in relatedrecipes if relatedrecipe.recipeimage.id is defined %}
    <div class="column relatedRecipeItem recipe_articleItem four mobile-four {% if loop.index0 == 2 %}hide-for-small{% endif %}">
        <a href="{{ url('RecipeBundle_page_normal', { 'alias': relatedrecipe.alias }) }}" title="{{ relatedrecipe.title }}">
            {% if relatedrecipe.recipeimage.id is defined %}
            {% media relatedrecipe.recipeimage.id, 'xsmall' with {'alt': relatedrecipe.title, 'title': ''} %}
            {% else %}
            <img src="/images/site_assets/defaultRecipeSmallTh.jpg" alt="{{ relatedrecipe.title }}" />
            {% endif %}
            <div class="relatedItemText {{ relatedrecipe.product.pageclass }}">
                <h5 class="title"><span>{{ relatedrecipe.title }}</span></h5>
                <span class="itemIcon preperation">{{ relatedrecipe.preperation }}</span>
                <span class="itemIcon cooking">{{ relatedrecipe.cooking }}</span>
                <span class="itemIcon servings">{{ relatedrecipe.servings }}</span>
            </div>
        </a>
    </div>
    {% endfor %}
    </div>
</div>
{% endif %}