<div class="large-3 medium-3 small-6 columns">
	<h5>E-Magazine</h5>
	<a class="isRound magazineLink" href="{{ url('PageBundle_page', { 'alias': 'online-magazine' }) }}" title="E-Magazine">
		<span>
			<small>E-Magazine</small>
		</span>
	</a>
</div>
<div class="large-3 medium-3 small-6 columns">
	<h5>Share</h5>
	<ul class="smoIcons">
        <li>
            <a target="_blank" title="Share This on Facebook" href="http://www.facebook.com/sharer.php?m2w&amp;s=100&amp;u={{ url('BlogBundle_page', { 'alias': page.alias })|url_encode }}&amp;t={{ page.pagetitle|url_encode }}" class="smoIcon fbIcon">
				<span>Share This on Facebook</span>
			</a>
        </li>
        <li>
            <a target="_blank" title="Tweet This" href="http://twitter.com/share?text={{ page.pagetitle|url_encode }}&amp;url={{ url('BlogBundle_page', { 'alias': page.alias })|url_encode }}" class="smoIcon tweetIcon">
				<span>Tweet This</span>
			</a>
        </li>
        <li>
            <a target="_blank" title="Mail This" href="mailto:?Subject={{ page.pagetitle|url_encode }}&amp;Body=Check%20out%20this%20surf%20spot%20at%20{{ url('BlogBundle_page', { 'alias': page.alias })|url_encode }}" class="smoIcon mailIcon">
				<span>Mail This</span>
			</a>
        </li>
    </ul>
	<h6>#TheGreekSpots</h6>
</div>
<div class="large-3 medium-3 small-6 hide-for-small columns">
	<h5>Instagram <span class="hide-for-small hide-for-medium">Gallery</span></h5>
	<a class="isRound" href="http://instagram.com/thegreekspots" title="Instagram Gallery" target="_blank">
		<span>Do You Instagram ?</span>
	</a>	
</div>
<div class="large-3 medium-3 small-6 hide-for-small columns">
	<h5>Add a spot</h5>
	<a class="isRound addSpotLink" href="{{ url('PageBundle_page', { 'alias': 'add-spot' }) }}" title="Add a spot">
		<span>
			<small>Add a spot</small>
		</span>
	</a>
</div>