                    <div id="filterResultsFormHolder" class="columns twelve mobile-nine">
                        <h3>Filter our products</h3>
                        <form name="filterResultsForm" id="filterResultsForm" action="/product/filterPages/" method="post" {{ form_enctype(filterForm) }} class="filterForm">
                              
                            <div class="column three mobile-four">  
                                {{ form_row(filterForm.tagssugar_type, { 'attr': {'class': 'customCheckBox'} }) }}
                            </div>
                              
                            <div class="column three mobile-four">  
                                {{ form_row(filterForm.categories, { 'attr': {'class': 'customCheckBox'} }) }}
                            </div>
                              
                            <div class="column three mobile-four filtersGroupClear">  
                                {{ form_row(filterForm.tagsexcellent, { 'attr': {'class': 'customCheckBox'} }) }}
                            </div>
                              
                            <div class="column three mobile-four">  
                                {{ form_row(filterForm.tagsbody, { 'attr': {'class': 'customCheckBox'} }) }}
                            </div>
                              
                            <div class="column twelve mobile-nine">  
                                {{ form_rest(filterForm) }}
                                {{ form_errors(filterForm) }}
                            </div>
                              
                            <div class="formBtns mobile-nine">
                                <div class="control-group">
                                    <input type="submit" id="filterResultsBtn" value="GO" />
                                    <div class="customCheckBox checkAllBox">
                                        <input class="checkAllBtn" type="checkbox" id="CheckAll" name="CheckAll" value="1" />
                                        <label for="CheckAll">Show All</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                     </div>