	{% if eventsItem.introimage.id is defined %}
		<a href="{{ app.request.getBaseURL() }}/blog/{{ eventsItem.alias }}" title="{{ eventsItem.title }}" class="readMoreImage columns large-12 small-12">
			{% media eventsItem.introimage.id, 'medium' with {'alt': eventsItem.title, 'title': ''} %}
			<span class="introItemText">
				<span class="introItemTitle">{{ eventsItem.title }}</span>
				{{ eventsItem.introtext|striptags }}
			</span>
        </a>
    {% endif %}
