	{% if newsItem.introimage.id is defined %}
		<a href="{{ app.request.getBaseURL() }}/blog/{{ newsItem.alias }}" title="{{ newsItem.title }}" class="readMoreImage columns large-12 small-12">
			{% media newsItem.introimage.id, 'mediumnews' with {'alt': newsItem.title, 'title': ''} %}
			<span class="introItemText">
				<span class="introItemTitle">{{ newsItem.title }}</span>
				{{ newsItem.introtext|striptags }}
			</span>
        </a>
    {% endif %}
