{% extends '::base.html.twig' %}

{% block title %}{{ page.pagetitle }}{% endblock %}
{% block metaDescription %}{{ page.description }}{% endblock %}
{% block metaKeywords %}{{ page.keywords }}{% endblock %}
{% block metaAuthor %}{{ page.metaAuthor }}{% endblock %}

{% block OgTitle %}{{ page.pagetitle }}{% endblock %}
{% block OgSiteName %}{{ page.pagetitle }}{% endblock %}
{% block metaOgDescription %}{{ page.description }}{% endblock %}

{% block siteLogoTitle %}{{ page.pagetitle }}{% endblock %}
{% block siteLogoKeywords %}{{ page.keywords }}{% endblock %}
{% block siteLogoDescription %}{{ page.title }} {{ page.description }}{% endblock %}


{% block body_start %}
    <div class="topBg {% if page.spots is not empty and page.spots.pageclass is not null %}{{ page.spots.pageclass }}DestinationTopBg{% endif %}">
        <div class="row">
            <div class="column twelve topBgImg destinationsTopBgImg {% if page.pagetype == 'destination_article' %}destinationArticleTopBgImg{% endif%}" {% if page.bgimage is not empty %}style="background-image: url({% path page.bgimage.id,  'big' %});"{% endif %}>            
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="twelve columns destinationPage {% if page.pagetype == 'destination_article' %}destinationArticlePage{% endif%}">
    {% if page.pagetype == 'destination_article' %}    
        <div class="row destinationSummary {% if page.spots is not empty and page.spots.pageclass is not null %}{{ page.spots.pageclass }}DestinationSummary{% endif %}">
            <div class="four column destinationImageHolder mobile-four">
                {% if page.destinationimage.id is defined %}
                {% media page.destinationimage.id,  'big' with {'alt': page.title, 'title': '' } %}
                {% else %}
                    <img src="/images/site_assets/defaultDestinationImage.jpg" alt="{{ page.title }}" />
                {% endif %}
            </div>
            <div class="six column mobile-five">  
                <div class="destinationSummaryTextHolder">
                    <h2>{{ page.title }}</h2>
                    <div class="summary">{{ page.summary|raw }}</div>                    
                </div>
            </div>
        </div>
        <div class="row destinationFeatures">
            <div class="schedule column six mobile-nine">
                <ul>
                    <li>
                        <span class="title">Preparation</span>
                        <span class="icon preperationIcon"></span>
                        <span class="time">{{ page.preperation }}</span>                                
                    </li>
                    <li>
                        <span class="title">Cooking</span>
                        <span class="icon cookingIcon"></span>
                        <span class="time">{{ page.cooking }}</span>                                
                    </li>
                    <li>
                        <span class="title">Servings</span>
                        <span class="icon servingsIcon"></span>
                        <span class="time">{{ page.servings }}</span>                                
                    </li>
                </ul>
            </div>
            
            <div class="two column relatedSpot mobile-nine">
                {% if page.spots is not empty %}
                <div class="relatedSpotItem">
                    <a class="relatedSpotImage" href="{{ url('SpotBundle_page_normal', { 'alias': page.spots.alias }) }}" title="View {{ page.spots.title }}">
						{% if page.destinationimage.id is defined %}
                        {% media page.spots.spotsimage.id,  'small' with {'alt': page.spots.title, 'title': '' } %}
						{% endif %}
                        <h4>{{ page.spots.title }}</h4>
                    </a>                
                    <div class="spotsLinks">
                        <a href="{{ url('SpotBundle_page_normal', { 'alias': page.spots.alias }) }}" title="View {{ page.spots.title }}">View</a>
                        <a class="spotsBuyLink" href="http://tateandlyle.where-to-buy.co/Widgets/CrossDevicePartial/{{ page.spots.manufacturersPartNo1 }}" title="Buy {{ page.spots.title }} now">Buy</a>
                    </div>  
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row contentRow">
            <div class="four columns mobile-nine push-eight clearBoth">
                <div class="twelve columns ingredientsText">
                    <h3 class="bigHeading">Ingredients</h3>
                    {% include 'DestinationBundle:Contents:secondarycontentblocks.html.twig' %}
                    <a class="convertionsBtn" href="{{ url('PageBundle_page', { 'alias': 'conversions' }) }}" title="Need help with conversions?">Need help with conversions?</a>                
                </div>
                <div class="twelve columns  mobile-nine">
                    {% include 'DestinationBundle:Contents:smo_share.html.twig' %}
                </div>
            </div>
            <div class="eight columns pageText destinationText pull-four mobile-nine">
                <h3 class="bigHeading">How to make this destination</h3>
                {% include 'DestinationBundle:Contents:maincontentblocks.html.twig' %}
                {% if page.modalcontentblocks|length > 0 %}
                <a id="nutritionBtn" href="#" title="Nutritional information for this destination"><span>Nutritional information for this destination</span></a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% include 'DestinationBundle:Contents:related-destinations.html.twig' %}
        </div>
    {% elseif page.pagetype == 'destination_cat_page' or page.pagetype == 'destination_filtered_list' or page.pagetype == 'destination_home' %} 
            <div class="row destinationListTop">
                <div class="seven column mobile-nine">  
                    <h2>{{ page.title }}</h2>
                    {% if page.summary is not empty %}
                    <div class="summary">{{ page.summary|raw }}</div>
                    {% endif %}
                </div>
                <div class="five column featuredDestination hide-for-small">
                    {% if page.cooking is not empty %}
                    <span class="playfullCopy">{{ page.cooking|raw }}</span>
                    {% endif %}
                    {% if page.preperation is not empty %}
                    <a href="{{ url('DestinationBundle_page_normal', { 'alias': page.preperation }) }}" title="Try our featured destination" class="featuredBtn moreBtn">Try our featured destination</a>   
                    {% endif %}
                </div>
            </div>
			<div class="row {{ page.pagetype }}List destinationList"> 
			{% if page.pagetype != 'destination_home' %}           
            <div class="twelve columns mobile-nine"> 
                {% include 'DestinationBundle:Contents:filterResultsFormHolder.html.twig' %}
            </div>
			{% endif %}
            {% if page.maincontentblocks is not empty %}
            <div class="twelve columns pageText mobile-nine">
                {% include 'DestinationBundle:Contents:maincontentblocks.html.twig' %}
            </div>
            {% endif %}
            <div class="twelve columns categoryListing mobile-nine">
                {% if pages %}
                    {% for pageItem in pages %}
                        <div class="columns categoryListingItem three mobile-four">
                            {% include 'DestinationBundle:Contents:page-list-item.html.twig' %}
                        </div>
                    {% endfor %}
                {% endif %} 
            </div>
        </div>
        {% if page.pagetype == 'destination_filtered_list' %} 
            {% include 'DestinationBundle:Contents:tags-pagination.html.twig' %}
        {% elseif page.pagetype == 'destination_home'%}
            {% include 'DestinationBundle:Contents:home_pagination.html.twig' %}
        {% else %} 
            {% include 'DestinationBundle:Contents:pagination.html.twig' %}            
        {% endif %} 
    {% endif %}
</div>
{% endblock %}

{% block gAnalytics %}{% include 'PageBundle:Contents:ga.html.twig' %}{% endblock %}

{% block modal %}
    {% include 'DestinationBundle:Contents:modalcontentblocks.html.twig' %}
{% endblock %}