{% extends '::base.html.twig' %}

{% block title %}{{ page.pagetitle }}{% endblock %}
{% block metaDescription %}{{ page.description }}{% endblock %}
{% block metaKeywords %}{{ page.keywords }}{% endblock %}
{% block metaAuthor %}{{ page.metaAuthor }}{% endblock %}

{% block OgTitle %}{{ page.pagetitle }}{% endblock %}
{% block OgSiteName %}{{ page.pagetitle }}{% endblock %}
{% block metaOgDescription %}{{ page.description }}{% endblock %}

{% block siteLogoTitle %}{{ page.pagetitle }}{% endblock %}
{% block siteLogoKeywords %}{{ page.keywords }}{% endblock %}
{% block siteLogoDescription %}{{ page.title }} {{ page.description }}{% endblock %}


{% block body_start %}
{% endblock %}

{% block content %}

{% if page.bannercontentblocks is not empty  %}
<div class="row topBanner">
	<div class="columns large-12 small-12 ">
		{% include 'DestinationBundle:Contents:bannercontentblocks.html.twig' %}				
	</div>
</div>
{% endif %}

<div class="large-12 small-12 columns destinationPage {% if page.pageType == 'destination_article' %}destinationArticlePage{% endif%} {% if page.pageclass is not null %}{{ page.pageclass }}{% endif %}">
    {% if page.pageType == 'destination_article' %}    
        <div class="row destinationContent contentRow">
            <div class="large-12 small-12 columns">
                <h2>
					{{ page.title }}<br />
					<span>{% include 'DestinationBundle:Contents:destination-categories.html.twig' %}</span>
				</h2>
            </div>
            <div class="large-12 small-12 columns destinationTopText">
                {% if page.introtext is not null %}
					<h3>{{ page.introtext|striptags }}</h3>
                {% endif %}
                {% if page.summary is not null %}
					{{ page.summary|raw }}
                {% endif %}
            </div>
			{% if page.maincontentblocks is not empty %}
			<div class="large-12 small-12 columns">
				{% include 'DestinationBundle:Contents:maincontentblocks.html.twig' %}
			</div>
            {% endif %}
            <div class="large-12 small-12 columns destinationSports">
				<h3>Sports</h3>
                {% include 'DestinationBundle:Contents:destination-sports.html.twig' %}
            </div>
            {% if page.directions is not null %}
            <div class="large-12 small-12 columns destinationDirectionsText">
				<h3>How to get there</h3>
				{{ page.directions|raw }}
            </div>
            {% endif %}
			<div class="large-12 small-12 columns">
				{% include 'DestinationBundle:Contents:related-spots.html.twig' %}
			</div>
			{% if page.secondarycontentblocks is not empty %}
			<div class="large-12 small-12 columns">
				{% include 'DestinationBundle:Contents:secondarycontentblocks.html.twig' %}
			</div>
            {% endif %}
        </div>
    {% elseif page.pageType == 'destination_cat_page' or page.pageType == 'destination_home' %}
		<div class="row destinationContent contentRow">
            <div class="large-12 small-12 columns">
                <h2>{{ page.title }}</h2>
            </div>
			{% if page.summary is not null %}
            <div class="large-12 small-12 columns destinationTopText">
                {% if page.introtext is not null %}
					<h3>{{ page.introtext|striptags }}</h3>
                {% endif %}
				{{ page.summary|raw }}
            </div>
			{% endif %}
			{% if page.maincontentblocks is not empty %}
			<div class="large-12 small-12 columns">
				{% include 'DestinationBundle:Contents:maincontentblocks.html.twig' %}
			</div>
			{% endif %}
		 </div>
		<div class="row {{ page.pageType }}List destinationList">
            {% if pages %}
                {% for pageItem in pages %}
                {% include 'DestinationBundle:Contents:page-list-item.html.twig' %}
				{% endfor %}
            {% endif %}
        </div>
        {% include 'DestinationBundle:Contents:pagination.html.twig' %}		
		<div class="row {{ page.pageType }}Below destinationListBelow">
			{% if page.secondarycontentblocks is not empty %}
			<div class="large-12 small-12 columns">
				{% include 'DestinationBundle:Contents:secondarycontentblocks.html.twig' %}
			</div>
			{% endif %}
        </div>
    {% endif %}
	<div class="row contentFoorer">
		{% include 'DestinationBundle:Contents:destination-footer.html.twig' %}
	</div>
</div>
{% endblock %}

{% block gAnalytics %}{% include 'PageBundle:Contents:ga.html.twig' %}{% endblock %}

{% block modal %}
    {% include 'DestinationBundle:Contents:modalcontentblocks.html.twig' %}
{% endblock %}